<?xml version="1.0" ?>
<robot name="robot(1)">
    <webots>
        <device reference="lidar" type="Lidar">
            <ros>
            <topicName>/robot_1_/lidar</topicName>
            <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <device reference="camera" type="Camera">
            <ros>
            <topicName>/robot_1_/camera</topicName>
            <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <plugin type="rover.my_rover_driver.MyRoverDriver" />

    </webots>
</robot>